.naranja{
    color:#ca6238;
}
.bgnaranja{
    background-color: #ca6238;
}
.colortextos{
    color:#f1ede3;
}
.rojo{
    color:red;
}
/*MENU*/
nav{
    background: none !important;
}
#menu{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.4rem;
    background-image: url("../img/menu_iconos.png");
    background-repeat: no-repeat;
}
@media (max-width: 991px) {
    #menu{
        background-image: url("../img/menu_iconos_transparente.png");
        background-repeat: no-repeat;
    }
}

#menu li{
        background-color: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #f1ede3 !important;
}
#menu a{
    padding: 0px;
    margin:0px 20px 0px 0px;
}
#menu li:last-of-type a{
    margin-right: 0px;
}
#menu ul{
    border-bottom: 1px solid #f1ede3;
    border-top: 1px solid #f1ede3;
}
#menu button{
    border:1px solid #f1ede3;
}
#menu button:link{
    border:1px solid #f1ede3;
}

/*EQUPAMIENTO*/

body{
    background-color: #272523;
    background-image: url("../img/textura.jpg");
    background-repeat: repeat;
    color: #f1ede3;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}
#equipament #contenido ul{
    list-style: none;
    padding-left: 0px;
}
#equipament #contenido li{
    padding-left: 16px;
    background: url(../img/eq_list.png) 0 11px no-repeat;
    margin-bottom: -5px;
    padding-top: 5px;
}

/*ARTISTES*/



/*CONTACTE*/
#contacte input[type="text"], input[type="email"]{
    background-color:#f1ede3;
}
#contacte textarea{
    background-color:#f1ede3;
}

/*LOGIN*/

#login input[type="text"]{
    background-color:#f1ede3;
}
#login a{
    color:#f1ede3;
}
#login body{
    height:100%;
    background-color: #2a2723;
    background-image:  url(../img/mi_fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*PROJECTES ADMIN*/
#projectes_admin body{
    height:100%;
    background-color: #2a2723;
    background-image:  url(../img/mi_fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#projectes_admin .header_mix{
    height:130px;
}
#projectes_admin .card {
    background-color: transparent !important;
    border-bottom:1px solid gray;
}
#projectes_admin .accordion {
    border-top:1px solid gray;
}
#projectes_admin a {
    color:#f1ede3 !important;
    text-decoration:none !important; 
}
#projectes_admin .card-header {
    padding-left:0px !important;
    padding-right:0px !important
}
#projectes_admin .card-body {
    padding-top:0px !important;
}