/*MENU*/

#menu{
    background-color: #272523 !important;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.4rem;
}
#menu li{
        background-color: #272523;
}
.navbar-light .navbar-nav .nav-link {
    color: #f1ede3 !important;
}
#menu a{
    padding: 0px;
    margin:0px 20px 0px 0px;
}
#menu li:last-of-type a{
    margin-right: 0px;
}
#menu ul{
    border-bottom: 1px solid #f1ede3;
    border-top: 1px solid #f1ede3;
}


/*EQUPAMIENTO*/

body{
    background-color: #272523;
    color: #f1ede3;
}
