.naranja{
    color:#ca6238;
}
.bgnaranja{
    background-color: #ca6238;
}
.colortextos{
    color:#f1ede3;
}
.rojo{
    color:red;
}

/*INICIO*/
#inici #posicion{
    position: relative;
}
#inici #logo{
    position: absolute;
    z-index:999;
    right:0;
    width:35%;
    height:auto;
}

#inici #menu_inici{
    height:89px;
    position: absolute;
    z-index:998;
}
/*#cf {
  position:relative;
  margin:0 auto;
}*/

/*#cf img {
  position:relative;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
  @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 9s;
animation-direction: alternate;
}*/

/*MENU INICI*/
nav{
    background: none !important;
}
#menu_inici{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.4rem;
    background-image: url("../img/inici_menu_iconos.png");
    background-repeat: no-repeat;
    color: #456966 !important;
}
@media (max-width: 991px) {
    #menu_inici{
        background-image: url("../img/menu_iconos_transparente.png");
        background-repeat: no-repeat;
    }
    #menu_inici li{
        background-color: rgb(65,145,138,0.5);
        padding-left: 5px;
    }
}

#menu_inici li{
        background-color: none;
}
#menu_inici .navbar-light .navbar-nav .nav-link {
    color: #456966 !important;
}
#menu_inici a{
    padding: 0px;
    margin:0px 20px 0px 0px;
}
#menu_inici li:last-of-type a{
    margin-right: 0px;
}
#menu_inici ul{
    border-bottom: 1px solid #f1ede3;
    border-top: 1px solid #f1ede3;
}
#menu_inici button{
    border:1px solid #f1ede3;
}
#menu_inici button:link{
    border:1px solid #f1ede3;
}

/*MENU*/
nav{
    background: none !important;
}
#menu{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.4rem;
    background-image: url("../img/menu_iconos.png");
    background-repeat: no-repeat;
}
@media (max-width: 991px) {
    #menu{
        background-image: url("../img/menu_iconos_transparente.png");
        background-repeat: no-repeat;
    }
}

#menu li{
        background-color: none;
}
#menu .navbar-light .navbar-nav .nav-link {
    color: #f1ede3 !important;
}
#menu a{
    padding: 0px;
    margin:0px 20px 0px 0px;
}
#menu li:last-of-type a{
    margin-right: 0px;
}
#menu ul{
    border-bottom: 1px solid #f1ede3;
    border-top: 1px solid #f1ede3;
}
#menu button{
    border:1px solid #f1ede3;
}
#menu button:link{
    border:1px solid #f1ede3;
}

/*EQUPAMIENTO*/

body{
    background-color: #272523;
    background-image: url("../img/textura.jpg");
    background-repeat: repeat;
    color: #f1ede3;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}
#equipament #contenido ul{
    list-style: none;
    padding-left: 0px;
}
#equipament #contenido li{
    padding-left: 16px;
    background: url(../img/eq_list.png) 0 11px no-repeat;
    margin-bottom: -5px;
    padding-top: 5px;
}

/*ARTISTES*/



/*CONTACTE*/
#contacte input[type="text"], input[type="email"]{
    background-color:#f1ede3;
}
#contacte textarea{
    background-color:#f1ede3;
}

/*LOGIN*/

#login input[type="text"]{
    background-color:#f1ede3;
}
#login a{
    color:#f1ede3;
}


/*PROJECTES ADMIN*/
#projectes_admin .container-fluid{
    background-color:rgba(0, 0, 0, 0.3);
    border-bottom:1px solid gray;
}
#projectes_admin .header_mix{
    height:130px;
}
#projectes_admin .card {
    background-color: transparent !important;
    border-bottom:1px solid gray;
}
#projectes_admin .card:nth-of-type(1) {
    border-top:1px solid gray;
}

#projectes_admin a {
    color:#f1ede3 !important;
    text-decoration:none !important; 
}
#projectes_admin .card-header {
    padding-left:0px !important;
    padding-right:0px !important
}
#projectes_admin .card-body {
    padding-top:0px !important;
}

#projectes_admin #respuesta p{
    display: none;
}
#projectes_admin .accordion{
    width:230px;
}

/*PROJECTES ADMIN  2 */
#projectes_admin2 .container-fluid{
    background-color:rgba(0, 0, 0, 0.3);
    border-bottom:1px solid gray;
}
#projectes_admin2 .header_mix{
    height:100px;
}






/*PROJECTE USUARI*/
#projecte_usuari .container-fluid{
    background-color:rgba(0, 0, 0, 0.3);
    border-bottom:1px solid gray;
}
#projecte_usuari .header_mix{
    height:130px;
}
#projecte_usuari a {
    color:#f1ede3 !important;
    text-decoration:none !important; 
}
#projecte_usuari ul {
    list-style: none;
}
#projecte_usuari li {
    border-bottom:1px solid gray;
    padding-top: 15px;
    padding-bottom: 5px;
}